{
  "parser": "babel-eslint",
  "rules": {
    "no-undef": ["error"],
    "no-trailing-spaces": ["warn"],
    "space-before-blocks": ["warn", "always"],
    "no-unused-expressions": ["off"],
    "no-underscore-dangle": ["off"],
    "quote-props": ["warn", "as-needed"],
    "no-multi-spaces": ["off"],
    "no-unused-vars": ["warn"],
    "no-loop-func": ["off"],
    "key-spacing": ["off"],
    "max-len": ["warn", 100],
    "strict": ["off"],
    "eol-last": ["warn"],
    "no-console": ["warn"],
    "indent": ["warn", 2],
    "quotes": ["warn", "single", "avoid-escape"],
    "curly": ["off"],

    "generator-star-spacing": "off",
    "new-cap": "off",
    "object-curly-spacing": "off",
    "object-shorthand": "off",

    "babel/generator-star-spacing": "warn",
    "babel/new-cap": "warn",
    "babel/object-curly-spacing": ["warn", "always"],
    "babel/object-shorthand": "warn"
  },
  "plugins": [
    "babel"
  ],
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
